---
import Layout from '../layouts/Layout.astro';
import Card_Sempi from '../components/Card_Sempi.astro';
---

<Layout title="Hola">
	<main class="min-h-screen flex flex-col justify-center items-center">
		<Card_Sempi />
	</main>
</Layout>

<style>
	main {
		margin: auto;
		padding: 1rem;
		width: 800px;
		max-width: calc(100% - 2rem);
		color: white;
		font-size: 20px;
		line-height: 1.6;
	}
	
</style>
