<div class="borderxd">
<div class="card flex flex-col justify-center gap-4 items-center w-[24rem] h-[36rem] bg-paletaBase-secondary-900 rounded-3xl p-6 shadow-lg shadow-paletaBase-primary-500">
    <div class="card-img  w-[18rem] h-[20rem]">
        <img class="img object-fill w-auto h-[18rem] mx-auto" src="/public/Sempi.png" alt="">
    </div>
    <p class="card-title  w-[18rem] h-[2rem] text-paletaBase-text-50 text-center text-xl">iSempiDev</p>
    <p class="card-description  w-[16rem] h-[10rem] text-center text-3xl text-paletaBase-text-300"> Hi there! its me Sempi. <br/> Lets Code together </p>
    <a class="card-link  w-[18rem] h-[2rem] text-paletaBase-text-250 hover:text-paletaBase-text-150 transition-colors duration-1000 text-center" href="https://www.twitch.tv/isempidev" draggable="false" target="_blank">Sigueme en Twitch!</a>
</div>
</div>



<style>

.borderxd {
  padding: 0.25rem;
  border-radius: 1.5rem;
  @apply bg-gradient-to-r from-paletaBase-secondary-200 via-paletaBase-text-400 to-paletaBase-secondary-700;
}



</style>
