
<div class="card flex flex-col justify-center gap-4 items-center w-[22rem] h-[34rem] bg-paletaBase-secondary-900 rounded-3xl p-4 shadow-lg shadow-paletaBase-primary-500">
    <img class="card-img border-2 border-paletaBase-primary-500 w-[18rem] h-[15rem]" src="" alt="">
    <p class="card-title border-2 border-paletaBase-accent-200 w-[18rem] h-[2rem]"></p>
    <p class="card-description border-2 border-paletaBase-accent-100 w-[18rem] h-[10rem]"></p>
    <a class="card-link border-2 border-paletaBase-accent-200 w-[18rem] h-[2rem]"></a></a>
</div>



